<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  ~
  -->
<!-- TODO Rename this module to something matching your chosen subsystem name -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.template-dependency">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <!-- TODO Use the actual name of the subsystem artifact here -->
        <artifact name="${org.wildfly.extras.wildfly-feature-pack-template:template-dependency}"/>
    </resources>

    <dependencies>
        <!-- We need these dependencies to trigger weld/CDI -->
        <module name="jakarta.enterprise.api"/>
        <module name="org.jboss.weld.api"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.jboss.weld.spi"/>
    </dependencies>
</module>
